.homepage {
    margin-top: 50px;
  }
  
  .favorites-wrapper {
    flex-direction: column;
    display: flex;
  }
  
  .favorites {
    display: flex;
    gap: 20px;
    overflow: auto;
    margin-bottom: 30px;
  }
  
  .items {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 28px;
  }
  
  .loading {
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .favorites-title {
    color: #fa6400;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0px;
  }
  
  .search-favorites input {
    padding: 10px 40px;
    margin-bottom: 28px;
  }